@import '../../styles/utils';

.card-container {
  width: 100%;
  height: 470px;

  box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);

  background-color: var(--highlight-bg);
  border-radius: 1em;

  overflow: hidden;

  display: flex;

  transform: translateY(50px);
  opacity: 0;

  transition: all 0.3s ease-out;

  &:nth-child(2n) {
    flex-direction: row-reverse;
  }

  & > div {
    width: 50%;
    height: 100%;
  }

  &.visible {
    opacity: 1;
    transform: translateY(0px);
  }
}

.picture {
  display: flex;
  align-items: center;
  justify-content: center;

  & > img {
    width: 150px;
  }
}

.description {
  padding: 6.5em 4em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
}

.tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-family: var(--secondary-font);
  margin-top: 10px;
  margin-left: -6px;

  & > li {
    position: relative;
    font-size: 0.9em;
    padding: 0.35em 1em;
    color: var(--secondary-text);
    margin-top: 6px;

    margin-left: 6px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--accent);
      opacity: 0.15;
      border-radius: 1.5em;
    }
  }
}

.live-btn {
  font-family: var(--secondary-font);
  margin-top: auto;
  width: fit-content;
}

@include query(large) {
  .description {
    padding: 4em;
  }
}

@include query(medium) {
  .card-container {
    flex-direction: column-reverse !important;
    height: 460px;

    .picture {
      height: 40%;

      & > img {
        width: 100px;
      }
    }

    & > div {
      width: 100%;
    }

    .description.description {
      padding: 2.25em 2.8em;
      height: 60%;

      .tags {
        flex-direction: row;
      }
    }
  }
}
