.greeting-container {
  display: flex;
  align-items: center;
}

.hero-container {
  height: 100vh;
  display: flex;
  align-items: center;
  padding-bottom: 80px;
}

.greeting {
  font-weight: 600;
}

.title {
  font-size: 3.9em;
  max-width: 677px;
  margin-top: 1rem;

  // first row
  &::first-letter {
    margin-left: -3px;
  }
}

.short {
  font-size: 22px;
  max-width: 656px;
  margin-top: 2.5rem;
}

$visible-clip: polygon(0 100%, 100% 100%, 100% 0, 0 0);
$hidden-clip: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);

.scroll {
  margin-left: 5rem;
  font-size: 18px;
  font-family: var(--secondary-font);
  clip-path: $hidden-clip;
  display: flex;
  align-items: center;

  & > div {
    position: relative;
    height: 28px;
    width: 17px;
    border: 2px solid var(--accent);
    margin-left: 10px;
    border-radius: 10px;

    &::after {
      content: '';
      position: absolute;
      top: 2px;
      left: 4px;
      background-color: var(--accent);
      width: 5px;
      height: 5px;
      border-radius: 50%;
    }
  }

  &.visible {
    animation: show-scroll-message 5s ease-out forwards;

    & > div {
      clip-path: $visible-clip;
      animation: animate-mouse 0.2s 4.8s ease-out forwards;
      &::after {
        animation: animate-mouse-scroll 0.8s ease-out infinite;
      }
    }
  }
}

@keyframes animate-mouse {
  to {
    clip-path: $hidden-clip;
  }
}

@keyframes animate-mouse-scroll {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  90% {
    top: 14px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show-scroll-message {
  5% {
    clip-path: $visible-clip;
    color: var(--accent);
  }
  90% {
    color: var(--accent);
  }
  100% {
    color: var(--secondary-text);
    clip-path: $visible-clip;
  }
}

.projects-btn {
  position: relative;
  font-family: var(--secondary-font);
  font-size: 1.3em;
  margin-top: 4.4rem;
  border-radius: 9px;

  &::after {
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 9px;
    border: var(--primary-text) 1px solid;
    top: 10px;
    left: 10px;
    opacity: 0.5;
  }
}
