@import '../../styles/utils';

.footer {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  & h1 {
    color: var(--primary-text-light);
  }
}

.challenge {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  & h1 {
    font-size: 2.6em;
  }
  & p {
    margin-top: 0.6rem;
    color: var(--secondary-text-light);
    font-size: 1.1em;
    line-height: 20px;
  }
}

.talk-btn {
  font-family: var(--secondary-font);
  font-size: 1.1em;
}

.background {
  position: absolute;
  background-color: var(--highlight-bg-dark);
  bottom: 0px;
  left: 0px;
  width: 96%;
  border-top-right-radius: 120px;
  z-index: -1;
  height: 100vh;
}

.sep {
  width: 100%;
  transform: scaleX(2);
  transform-origin: right;
  height: 2px;
  background-color: #fff;
  margin: 3.75rem 0;
  opacity: 0.15;
}

@include query(large) {
  .background {
    width: 100%;
    border-radius: 0;
  }
}

@include query(medium) {
  .challenge {
    flex-direction: column;
    align-items: flex-start;
  }

  .talk-btn {
    margin-top: 3rem;
  }
}
