.projects-container {
  padding-top: 10em;
  padding-bottom: 10em;
}

.title {
  font-weight: 700;
  font-size: 2.6em;

  &::after {
    content: '';
    display: block;
    height: 2px;
    background-color: var(--accent);
    width: 30px;
    margin-top: 4px;
  }
}

.projects {
  margin-top: 4.75rem;

  & > *:not(:nth-child(1)) {
    margin-top: 80px;
  }
}
