@mixin clipAnimation($delay: 0s) {
  animation: animateClipAnimation 0.3s $delay linear forwards;
  opacity: 0;
}

@keyframes animateClipAnimation {
  0% {
    opacity: 0;
    clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(100% 100%, 100% 0, 0 0, 0 0, 100% 100%);
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%, 0 100%);
  }
}

$sizes: (
  'xsmall': 370px,
  'small': 600px,
  'medium': 900px,
  'large': 1280px,
  'xlarge': 1800px,
);

@mixin query($size) {
  @media screen and (max-width: map-get($sizes, $size)) {
    @content;
  }
}
